In [1]:
import pandas as pd
import numpy as np
import os

---

### Create a negative reviews dataframe

In [2]:
def getFileNamesList(directory:str):
    file_names = []
    for filename in os.listdir(directory):
        if filename.endswith(".txt"):
            file_names.append(filename)
            continue
        else:
            continue     
    return file_names

In [3]:
file_names = getFileNamesList('/Users/kevinmacmat/Desktop/mod_4_nlp_project/aclImdb 2/train/neg')

In [4]:
reviews_series = []
# For each file in files_list
for file_name in file_names:
# Access the text with file path and file name 
    with open('/Users/kevinmacmat/Desktop/mod_4_nlp_project/aclImdb 2/train/neg/' + file_name) as f:
        # Read the text in as a Series and append it to reviews_series
        review = pd.Series(f.readlines())
        reviews_series.append(review)

In [5]:
df = pd.DataFrame(reviews_series)

In [6]:
df.rename(columns={0:'reviews'}, inplace=True)

In [7]:
df['sentiment'] = 0

In [8]:
df.head()

                                             reviews  sentiment
0  Working with one of the best Shakespeare sourc...          0
1  Well...tremors I, the original started off in ...          0
2  Ouch! This one was a bit painful to sit throug...          0
3  I've seen some crappy movies in my life, but t...          0
4  "Carriers" follows the exploits of two guys an...          0

In [9]:
df.shape

(12500, 2)

---

### Create a positive reviews dataframe

In [10]:
file_names = getFileNamesList('/Users/kevinmacmat/Desktop/mod_4_nlp_project/aclImdb 2/train/pos')

In [11]:
reviews_series_2 = []
# For each file in files_list
for file_name in file_names:
# Access the text with file path and file name 
    with open('/Users/kevinmacmat/Desktop/mod_4_nlp_project/aclImdb 2/train/pos/' + file_name) as f:
        # Read the text in as a Series and append it to reviews_series
        review = pd.Series(f.readlines())
        reviews_series_2.append(review)

In [12]:
df_pos = pd.DataFrame(reviews_series)

In [13]:
df_pos.head()

                                                   0
0  Working with one of the best Shakespeare sourc...
1  Well...tremors I, the original started off in ...
2  Ouch! This one was a bit painful to sit throug...
3  I've seen some crappy movies in my life, but t...
4  "Carriers" follows the exploits of two guys an...

In [14]:
df_pos.rename(columns={0:'reviews'}, inplace=True)

In [15]:
df_pos['sentiment'] = 1

In [16]:
df_pos.head()

                                             reviews  sentiment
0  Working with one of the best Shakespeare sourc...          1
1  Well...tremors I, the original started off in ...          1
2  Ouch! This one was a bit painful to sit throug...          1
3  I've seen some crappy movies in my life, but t...          1
4  "Carriers" follows the exploits of two guys an...          1

In [17]:
df = pd.concat([df,df_pos],ignore_index=True)

In [18]:
df.shape

(25000, 2)

In [21]:
df.head()

                                             reviews  sentiment
0  Working with one of the best Shakespeare sourc...          0
1  Well...tremors I, the original started off in ...          0
2  Ouch! This one was a bit painful to sit throug...          0
3  I've seen some crappy movies in my life, but t...          0
4  "Carriers" follows the exploits of two guys an...          0

In [19]:
df.tail()

                                                 reviews  sentiment
24995  My comments may be a bit of a spoiler, for wha...          1
24996  The "saucy" misadventures of four au pairs who...          1
24997  Oh, those Italians! Assuming that movies about...          1
24998  Eight academy nominations? It's beyond belief....          1
24999  Not that I dislike childrens movies, but this ...          1

In [20]:
df.to_csv('reviews_dataframe', index=False)