In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('reviews_dataframe')

In [9]:
df

                                                 reviews  sentiment
0      Working with one of the best Shakespeare sourc...         -1
1      Well...tremors I, the original started off in ...         -1
2      Ouch! This one was a bit painful to sit throug...         -1
3      I've seen some crappy movies in my life, but t...         -1
4      "Carriers" follows the exploits of two guys an...         -1
...                                                  ...        ...
24995  My comments may be a bit of a spoiler, for wha...          1
24996  The "saucy" misadventures of four au pairs who...          1
24997  Oh, those Italians! Assuming that movies about...          1
24998  Eight academy nominations? It's beyond belief....          1
24999  Not that I dislike childrens movies, but this ...          1

[25000 rows x 2 columns]